API_ID=API_ID
API_HASH=API_HASH
BOT_TOKEN=BOT_TOKEN
MONGO_URI=mongodb+srv://@cluster0..mongodb.net/?appName=Cluster0
SESSION_STRING=your_pyrogram_or_gramjs_session_string
VOICE_ENGINE=gram-tgcalls
PYROGRAM_SESSION_STRING=your_pyrogram_session_string_when_using_pytgcalls
PYTHON_VOICE_BIN=py
PYTHON_VOICE_ARGS=-3.11 voice_worker/worker.py
LOG_GROUP=-100
OWNER_ID=150
YT_DLP_PATH=yt-dlp
FFMPEG_PATH=ffmpeg
NODE_ENV=development
LOG_LEVEL=info
